
.bg-purple {
  background: @kompis-purple;
  color: @kompis-light;
}

.bg-red {
  background: @kompis-red;
  color: @kompis-light;
}

.bg-blue {
  background: @kompis-cyan;
  color: @kompis-light;
}

.bg-green {
  background: @kompis-green;
  color: @kompis-light;
}

.bg-light {
  background: @kompis-light;
  color: @kompis-dark;
}

.bg-white {
  background: #fff;
  color: @kompis-dark;
}

.bg-white-logo {
  background: #fff url(../img/kompis_grey.svg);
  background-position: 5vw 5vw;
  background-repeat: no-repeat;
  background-size: 25%;
  color: @kompis-dark;
}
