
html, body {
  height: 100%;
}

body, input, textarea {
  font-family: "Barlow Semi Condensed", sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.bg-purple {
  background: @kompis-purple;
  color: @kompis-light;
}

.bg-light {
  background: @kompis-light;
  color: @kompis-dark;
}

.bg-white {
  background: #fff;
  color: @kompis-dark;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
