.onboarding-done-view {
  text-align: center;
  .inner {
    margin: 1em;
    font-size: 16pt;
    color: darken(@kompis-green, 35%);

    .title {
      font-size: 32pt;
      padding-bottom: .5em;
    }
    i {
      font-size: 80pt;
    }
  }
}

.particleverse {
  color: @kompis-gold;
  pointer-events: none;
  perspective: 30vw;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
