.onboarding-done-view {
  text-align: center;
  .inner {
    margin: 1em;
    font-size: 16pt;

    .title,
    .text {
      text-shadow: 0 3px 5px rgba(245, 244, 240, 0.5);
    }
    .title {
      font-size: 32pt;
      padding-bottom: .5em;
    }
    i {
      color: @kompis-green;
      font-size: 80pt;
    }
  }
}

.particleverse {
  color: @kompis-gold;
  pointer-events: none;
  perspective: 30vw;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
