.spending-essential {
    background-color: @kompis-cyan;
    font-size: 50px;
}
  
.spending-nonessential {
    background-color: @kompis-red;
}

.spending-saving {
    background-color: @kompis-green;
}
